<div class="contenedor_Principal">
    <app-cabecera class="contenedor_Cabecera"></app-cabecera>
    <div class="contenedor_Buscador">
        <div class="contenedor_inputBuscador">
            <input class="form-control text_buscador" type="text" [(ngModel)]="valorBuscador" placeholder="Busca..." id="inputBuscador" />
            <button class="btn btn-outline-primary boton_buscador" (click)="buscar()">Buscar</button>
        </div>
        <div class="contenedor_resultado_buscador">
            <!-- <select multiple class="form-control resultado_buscador">
                <option *ngFor="let item of filtro_Productos; let i = index" (click)="muestraProducto(i)">{{item.referencia}}</option>
            </select> -->
            <button class="btn btn-outline-dark" *ngFor="let item of filtro_Productos; let i = index" (click)="muestraProducto(i)">{{item.referencia}}</button>
        </div>
    </div>
    <div class="contenedor_Datos">
        <div class="contenedor_Arriba">
            <img src="{{producto_Mostrar.marca_logo}}" class="img-fluid marca_logo">
            <ul class="list-group">
                <li class="list-group-item">Referencia: {{producto_Mostrar.referencia}} </li>
                <li class="list-group-item">Descripción: {{producto_Mostrar.descripcion}} </li>
                <li class="list-group-item">Sección: {{producto_Mostrar.seccion}} </li>
                <li class="list-group-item">Familia: {{producto_Mostrar.familia}} </li>
                <li class="list-group-item">Lote: {{producto_Mostrar.lote}} </li>
                <li class="list-group-item">Fecha: {{producto_Mostrar.fecha_sincronizacion}} </li>
            </ul>
        </div>
        <div class="contenedor_Abajo">
            <img src="{{producto_Mostrar.imagen_producto}}" class="img-fluid imagen_producto">
        </div>
    </div>
    <div class="contenedor_Pie">
        <code>{{producto_Mostrar|json}}</code>
    </div>
</div>