.contenedor-principal{
    height: 100vh;
    display: grid;
    grid-template-columns: 180px 1fr;
    app-navegador{
        height: 100%;
        background-color: var(--segundo);
    }
    .cuerpo{
        height: 100%;
        background-color: var(--primero);
    }
}